<div class="card">
    <div class="corps">
        <div class="header">
            <p class="h3"> Formulaire de saisie d'un prêt</p>
        </div>
        <form class="row g-3">
         
            <div class="col-md-4 container1">
              <label for="inputEmail4" class="form-label">Responsable</label>
              <select class="form-select" id="specificSizeSelect">
                <option selected>Agent : </option>
                <option value="1">Rakoto</option>
                <option value="2">Rabe</option>
                <option value="3">Randrema</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputPassword4" class="form-label">Montant</label>
              <div class="input-group">
                <div class="input-group-text">ar</div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername">
              </div>
            </div>
            <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Pourcentage</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
           
            <div class="col-md-6 container2">
              <label for="inputAddress" class="form-label">Date de prêt </label>
              <input type="date" class="form-control" id="inputAddress" >
            </div>
            <div class="col-md-6">
              <label for="inputAddress2" class="form-label">Date de remboursement</label>
              <input type="date" class="form-control" id="inputAddress2">
            </div>

            <div class="col-md-6 container3">
              <label for="inputCity" class="form-label">Mode de remboursement</label>
              <select class="form-select" id="specificSizeSelect">
                <option selected></option>
                <option value="1">Par semaine </option>
                <option value="2">Par mois</option>
                <option value="3">Trimestrielle</option>
                <option value="4">Semestrielle</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Mode de paiement capital</label>
              <select class="form-select" id="specificSizeSelect">
                <option selected></option>
                <option value="1">M-Vola</option>
                <option value="2">Orange Money</option>
                <option value="3">Airtel Money </option>
                <option value="4">En espèce</option>
              </select>
            </div>

            <div class="col-md-6 container4">
              <label for="inputCity" class="form-label">Commentaire </label>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Mode de paiement d'intérêt</label>
              <select class="form-select" id="specificSizeSelect">
                <option selected></option>
                <option value="1">M-Vola</option>
                <option value="2">Orange Money</option>
                <option value="3">Airtel Money </option>
                <option value="4">En espèce</option>
              </select>
            </div>
    
            <div class="foot">
              <input type="submit" class="btn bouton mr-6" value="Enregistrer" />
            </div>
          </form>

    </div>
</div>
