.header{
    display : flex;
    justify-content:flex-end;
    align-items: center;
    gap:15px;
    border-bottom: 3px   rgb(4, 58, 35);
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #A91079;
    
.user{
    text-decoration: none;
    color: white;
    text-align: center;
}

svg{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
}
